body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.container {
  height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max(70vh, 300px);
  height: min(45vh, 350px);
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
  position: relative;
  box-shadow: hsl(218deg 22% 14%) 0px 11px 68px;
}

@media screen and (max-width: 600px) {
  .box {
    width: 90vw;
    margin-bottom: 10vh;
  }
}

.title {
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: 800;
  margin-top: 2.25rem;
}

.text {
  height: 60%;
  color: hsl(193, 38%, 86%);
  font-size: calc(1rem + 0.35vh + 0.35vw);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 88%;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 1.5rem;
  }
}

.divider {
  display: flex;
  justify-content: center;
}

img {
  width: 80%;
}

.divider-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .divider {
    display: none;
  }

  .divider-mobile {
    display: flex;
    justify-content: center;
  }
}

.dice {
  background-color: hsl(150, 100%, 66%);
  border: none;
  padding: 1rem;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  position: absolute;
  top: 41vh;
}

@media screen and (max-width: 600px) {
  .dice {
    width: 7vh;
    height: 7vh;
    top: 38vh;
  }
}

.dice > img {
  width: 100%;
}

.dice:hover {
  cursor: pointer;
  box-shadow: hsl(150deg 100% 66%) 0px 0px 36px;
}
